{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<h1> Edit {{item.catalog.name}} Item {{item.name}}</h1>

<form action="#" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder = '{{item.name }}'>
	<p>Description:</p>
		<input type ='text' size='30' name='description' placeholder = '{{item.description}}'>


<input type='submit' value='Edit'>


<a href = '{{url_for('showCategories')}}'> Cancel </a>


</form>
</body>
</html>
{% endblock %}
